pydantic>=2.11.9
fastapi[standard]>=0.117.1
python-dotenv>=1.1.1
pydantic-settings>=2.11.0
ruff>=0.13.2
loguru>=0.7.3
bandit>=1.8.6
safety>=3.6.2
mypy>=1.18.1
openai>=2.0.1
agno>=2.1.0
uvicorn>=0.37.0
httpx>=0.28.1
pytest>=8.4.2
pytest-cov>=7.0.0
pytest-asyncio>=1.2.0
taskipy>=1.14.1
prefect>=3.4.25
baml-py>=0.214.0
baml-cli>=0.1.0